body{
  background-color: #FAFAFA;
}

.navbar-brand{
  font-family:"Satisfy", cursive;
}

#register {
  border-style:1px solid black;
}

#albumLogo {
  min-height:200px;
  max-height:200px;
  max-width:100%;
}
#albumPanels {
  border-radius:5%;
  border:4px solid #FBFBFB;
  padding:10px;
}

#genre{
  color:gray;
}
#albumTitle {
  text-decoration: underline;
}
